.address-list-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  background: white;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  overflow-x: hidden;
  h3 {
    text-align: center;
    margin: 0;
    padding: 15px 0;
    color: white;
    background-color: #0078d7;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .address-item {
    padding: 0 15px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    &:hover {
      // background-color: #f7f7f7;
      .action {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
    p {
      margin: 0;
      padding: 15px 0;
    }
    .action {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 0px 15px;
      cursor: pointer;
      background: white;
      transition: all .25s ease;
      transform: translateX(10px);
      i.ms-Icon {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .list-content, .form-content {
    position: absolute;
    left: 0;
    right: 0;
    transition: all .35s ease;
  }
  &.list {
    .list-content {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
    .form-content {
      opacity: 0;
      visibility: hidden;
      transform: translateX(80px);
    }
    .float-btn i.ms-Icon--Back {
      opacity: 0;
      visibility: hidden;
      transform: translateX(20px);
    }
    .float-btn i.ms-Icon--Add {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
  &.form {
    .form-content {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
    .list-content {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-80px);
    }
    .float-btn i.ms-Icon--Add {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-20px);
    }
    .float-btn i.ms-Icon--Back {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
}

.address-form {
  input[type="submit"] {
    display: none;
  }
  .submit-area {
    padding-top: 15px;
    .location-btn {
      padding-left: 24px;
      margin-left: 12px;
      &:after {
        content: "Ó†ù";
        font-family: FabricMDL2Icons;
        position: absolute;
        top: 6px;
        left: 6px;
        font-size: 18px;
      }
    }
  }
  .ms-Spinner {
    display: inline-block;
  }
}

.float-btn {
  position: absolute;
  color: white;
  background-color: #e3008c;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  right: 10px;
  top: 33px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  transition: all ease .45s;
  z-index: 1;
  &:hover {
    background-color: #ff8db4;
  }
  i.ms-Icon {
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all ease .35s;
    transform: rotate(0);
  }
}

@keyframes flashBackground {
  0% {
    background-color: white;
  }
  50% {
    background-color: bisque;
  }
  100% {
    background-color: white;
  }
}

.flash-bg-anim {
  animation-name: flashBackground;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
}